* {
    margin: 0;
    padding: 0;
}

header {
    height: 100vh;
    position: relative;
    overflow: hidden;
}

img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    opacity: 1;
    animation: images 15s linear infinite both;
}

img:nth-of-type(2) {
    animation-delay: 5s;
}

img:nth-of-type(3) {
    animation-delay: 10s;
}

h1 {
    position: absolute;
    font-size: 60px;
    background-color: rgba(0, 0, 0, 0.8);
    font-family: 'open sans', sans-serif;
    color: white;
    padding: 10px 40px;
    animation: text 15s linear infinite both;
}

h1:nth-of-type(1) {
    top: 30%;
    right: 20%;
}

h1:nth-of-type(2) {
    bottom: 10%;
    left: 10%;
    animation-delay: 5s;
}

h1:nth-of-type(3) {
    top: 10%;
    left: 35%;
    animation-delay: 10s;
}

@keyframes text {
    0% {
        opacity: 0;
    }

    5% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    28.33% {
        opacity: 1;
    }

    33.33% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }

}

@keyframes images {
    0% {
        opacity: 0;
    }

    5% {
        opacity: 1;
    }

    33.33% {
        opacity: 1;
    }

    43.33% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }


}